.app {
  display: flex;
  flex-direction: column;
  height: 500px;
  align-items: center;
  justify-content: space-between;
}

.headings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.size {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.size-input {
  width: 20px;
}

.brush-selection {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.paint {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.palette {
  display: flex;
  margin-left: -30px;
}

.brush {
  display: flex;
}

.icon {
  width: 30px;
  height: 30px;
}

.current-brush, .palette-color {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.canvas {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  height: 300px;
  width: 300px;
  border: 1px solid black;
}

.square {
  transition: 0.5s;
}

.color-1 {
  background-color: lightblue;
}

.color-2 {
  background-color: orange;
}

.color-3 {
  background-color: lightgreen;
}

.color-4 {
  background-color: yellow;
}

.color-5 {
  background-color: white;
}
